<div class="flex w-full flex-auto flex-col">
  <div class="mx-auto flex w-full max-w-screen-xl flex-wrap p-1 shadow-md">
    <div class="card-header" style="text-align: center !important;">
      Invoice Data Visualization
    </div>

    <div class="card">
      <div class="rounded">
        <div class="left-side">
          <div class="status-box total-records" >
            <div class="flex items-center">
              <i class="fas fa-database text-xl mr-2"></i>
              <h3>Total Records</h3>
            </div>
            <p>{{ totalInvoiceCount }}</p>
            <div class="flex items-center">
              <h3>Amount</h3>
            </div>
            <p>{{ grandTotalInvoices | number:'1.2-2' }}</p>
          </div>
    
          <div class="middlewidth">
            <div class="status-box total-Approved">
              <div class="flex items-center">
                <i class="fas fa-check-circle text-xl mr-2"></i>
                <h3>Approved</h3>
              </div>
              <p>{{ approvedCount }}</p>
              <div class="flex items-center">
                <h3>Amount</h3>
              </div>
              <p>{{ approvedTotal | number:'1.2-2'  }}</p>
            </div>
    
            <div class="status-box total-rejected">
              <div class="flex items-center">
                <i class="fas fa-times-circle text-xl mr-2"></i>
                <h3>Rejected</h3>
              </div>
              <p>{{ rejectedCount }}</p>
              <div class="flex items-center">
                <h3>Amount</h3>
              </div>
              <p>{{ rejectedTotal  | number:'1.2-2' }}</p>
            </div>
          </div>
    
          <div class="rightwidth">
            <div class="status-box Recevied_Amount">
              <div class="flex items-center">
                <i class="fas fa-wallet text-xl mr-2"></i> <!-- Changed to a wallet icon -->
                <h3 class="font-semibold">Amount Received</h3>
              </div>
              <p class="text-lg font-bold">{{ AmountReceivedCount }}</p>
            
              <div class="flex items-center mt-2">
                <h3 class="font-semibold">Amount</h3>
              </div>
              <p class="text-lg font-bold">{{ AmountReceivedTotal | number:'1.2-2' }}</p>
            </div>
            
           
    
            <div class="status-box total-Pending">
              <div class="flex items-center">
                <i class="fas fa-hourglass-half text-xl mr-2"></i>
                <h3>Payment Pending</h3>
              </div>
              <p>{{ PaymentPendingCount }}</p>
              <div class="flex items-center">
                <h3>Amount</h3>
              </div>
              <p>{{ PaymentPendingTotal | number:'1.2-2' }}</p>
            </div>
          </div>
    
          <div class="status-box total-overall">
            <div class="flex items-center">
              <i class="fas fa-coins text-xl mr-2 text-white"></i>
              <h3 class="font-semibold">Over All Amount</h3>
            </div>
            <p class="text-lg font-bold">{{ OverAllAmountCount }}</p>
          
            <div class="flex items-center mt-2">
              <h3 class="font-semibold">Amount</h3>
            </div>
            <p class="text-lg font-bold">{{ OverAllAmountTotal | number:'1.2-2' }}</p>
          </div>
        </div>
    
        <div class="rightCard">
          <apx-chart [series]="customerChartOptions.series" [chart]="customerChartOptions.chart"
            [labels]="customerChartOptions.labels" [responsive]="customerChartOptions.responsive">
          </apx-chart>
        </div>
      </div>
    </div>
    

    <div class="row" id="barChart" style="margin-top: 30px;" style="margin-top: 10px;border: 2px solid darkviolet !important;margin-right: 0px !important;
            margin-left: 0px !important;">
      <div class="col-md-6 col-lg-6" id="leftBar">
        <apx-chart [series]="barChartOptions.series" [chart]="barChartOptions.chart" [xaxis]="barChartOptions.xaxis"
          [yaxis]="barChartOptions.yaxis" [plotOptions]="barChartOptions.plotOptions" [colors]="barChartOptions.colors">
        </apx-chart>
      </div>

      <div *ngIf="pieChartOptions.series?.length > 0" class="col-md-6 col-lg-6" id="rightBar">
        <apx-chart [options]="pieChartOptions" [series]="pieChartOptions.series" [chart]="pieChartOptions.chart"
          [labels]="pieChartOptions.labels" [colors]="pieChartOptions.colors">
        </apx-chart>
      </div>
    </div>
    <!-- below is comentad by sunil  start-->
    <!-- <div class="row" style="margin-top: 30px;">
      
      <div>
        <apx-chart [series]="customerChartOptions.series" [chart]="customerChartOptions.chart"
          [labels]="customerChartOptions.labels" [responsive]="customerChartOptions.responsive">
        </apx-chart>
      </div>



    </div> -->
<!-- below is comentad by sunil  end-->

  </div>




  <!-- Invoice List Table -->
  <div class="tableFixHeadR">
    <table class="table table-bordered table-stripped">
      <thead class="thead-light">
        <tr>
          <th class="text-nowrap">Invoice Number</th>
          <th class="text-nowrap">Invoice Date</th>
          <th class="text-nowrap">Customer Name</th>
          <th class="text-nowrap">Type Of Aircraft</th>
          <th class="text-nowrap">City</th>
          <th class="text-nowrap">Destination</th>
          <th class="text-nowrap">Date Of Journey</th>
          <th class="text-nowrap">Total Amount</th>
          <th class="text-nowrap">Status</th>
        </tr>
      </thead>
      <tbody>
        <!-- (click)="invoice.status === 'Approved' ? openInvoicePopup(invoice) : null" -->
        <tr *ngFor="let invoice of filteredInvoiceList">

          <td>{{ invoice.invoiceUniqueNumber }}</td>
          <td>{{ invoice.header.ProformaInvoiceDate }}</td>
          <td>{{ invoice.header.ProformaCustomerName }}</td>
          <td>{{ invoice.header.ProformaTypeOfAircraft }}</td>
          <td>{{ invoice.header.ProformaCity }}</td>
          <td>{{ invoice.header.BookingSector }}</td>
          <td class="text-nowrap">{{ invoice.header.startBookingDateOfJourny }}/{{ invoice.header.endBookingDateOfJourny }}</td>
          <td>{{ invoice.grandTotal | number: '1.2-2' }}</td>
          <td [ngClass]="{
        'approved': invoice.status === 'Approved',
        'pending': invoice.status === 'Pending',
        'rejected': invoice.status === 'Rejected',
        'rejected_Reversed': invoice.status === 'Rejected_Reversed'
      }">{{ invoice.status }}</td>

        </tr>


      </tbody>
    </table>
    <!-- <button printSectionId="invoice-content" ngxPrint>Print Invoice</button> -->
  </div>
</div>



<!-- <button (click)="showSpinner()">Show Spinner</button> -->