::ng-deep .approved {
  background-color: #16a34a !important;
  color: white !important;
}

::ng-deep .pending {
  background-color: orange !important;
  color: white !important;
  
}

::ng-deep .rejected {
  background-color: #dc2626 !important;
  color: white !important;
}