<div class="card">
    <div class="card-header text-center bg-primary text-white">
        <h5>Service Charges</h5>
    </div>
    <div class="card-body">
        <form [formGroup]="chargesForm" (ngSubmit)="SaveCharges()">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="charges" class="form-label fw-bold">Charges Name</label>
                        <input type="text" class="form-control" formControlName="chargesName" placeholder="Enter charge name">
                        <div *ngIf="submit && chargesName.invalid" class="text-danger">
                            <p>Charges Name is required.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4">
                    <button type="submit" class="btn btn-success btn-sm mt-3">Save</button>
                </div>
            </div>
        </form>

        <div class="mt-4" *ngIf="allCharges && allCharges.length > 0">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>Serial No</th>
                        <th>Charges Id</th>
                        <th>Charges Name</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let charge of allCharges; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{charge.chargesUniqueId}}</td>
                        <td>{{ charge.chargesName }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>