.auth-review-carousel .item {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  // .background-img {
  //   width: 1000px;
  //   height: 680px;
  //   object-fit: cover; /* Adjust image scaling */
  // }
  
  .col-lg-7 {
    position: relative;
    padding: 0;
  }
  
  // .auth-full-bg {
  //   height: 100%; /* Ensure the parent container takes full height */
  // }
  

// .auth-full-bg {
//   width: 100vw;
//   height: 100vh;
//   overflow: hidden;
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.image-container {
  // width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .background-img {
//   // width: 100%;
//   height: 100%;
//   object-fit: contain; /* Prevents stretching but ensures the entire image is visible */
//   display: block;
//   position: absolute;
//   // padding: 10px 0px 40px 0px  !important;
// }

.row {
  min-height: 100vh; /* Ensure full viewport height */
}

.auth-full-bg {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-img {
  width: 100%;
  height: 100vh;
  object-fit: cover; /* Cover the section without distortion */
}

.imageBorder {
  border: 2px solid blue !important;
}

.aircraft-logo {
  width: 100%; /* Increase width */
  height: 160px; /* Increase height */
  display: block;
  margin: 0 auto; /* Center the image */
}

.pointer_Underline{
  cursor: pointer !important;
  text-decoration: underline !important;
  color: white !important;
}

.rightCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid cyan !important;
  box-shadow: 0px 0px 15px cyan, 0px 0px 15px cyan inset;
  padding: 30px !important;
  background: radial-gradient(circle, #bdc3c7, #2c3e50);
  height: 100vh; /* Ensure full height */
  font-size: 13px !important;
  font-weight: 600 !important;
}



.container-fluid {
  height: 100vh; /* Full height of viewport */
  // display: flex;
  align-items: center;
  justify-content: center;
}

.heightAdjuest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media (max-width: 768px) {
  .row.m-0 {
    flex-direction: column;
  }

  .rightCard {
    width: 100%;
    height: auto; /* Auto height for mobile */
    padding: 20px;
  }
}





